@import url("bootstrap.min.css");

body {
  font-family: Clear Sans, Arial, sans-serif;
  color: #fff;
  background-color: #2F3A47;
}
h2 {
  color: #FAFAFA;
}

.room {
  margin: 8px 0;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.busy .room {
  background-color: #323232;
}
.almostFree .room {
  background-color: #EBC300;
  padding: 24px 16px;
}
.free .room {
  background-color: #27B648;
  padding: 24px 16px;
}

.room .fb {
}

/* SVG classes. */

#map {
  margin: 0px auto;
  height: 85vh;
  width: 90vw;
}

#innerMap {
  transform: translate(0px, -150px);
}

.roomImage {
  transition: fill 1s;
  fill: #292529;
}

.roomImage.unknown {
  fill: #FF0000;
}

.roomImage.selected {
  fill: #666666;
}

.builtinStation,
.station {
  transition: fill 3s;
  fill: #666666;
  stroke: #000101;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.builtinStation.unknown,
.station.unknown {
  fill: #FF0000;
}

.station.free {
  fill: #66FF33;
}

.station.almostFree {
  fill: #FFFFFF;
}

.station.reallyBusy {
  fill: #FF3366;
}